
.about__achivement{
    margin-top:3rem;

}
.achivement__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

}
.achivement__right > p {
margin:1.6rem 0 2.5rem;
}
.achivements__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.achivement__card {
    background: var(--color-bg1);
    text-align: center;
    padding: 1.6rem;
    border-radius: 1rem;
    transition: var(--transtion);
}
.achivement__card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3) ;
}
.achivement__icon {
    background: var(--color-danger);
    padding:0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.achivement__card:nth-child(2) .achivement__icon{
    background: var(--color-primary);
}
.achivement__card:nth-child(3) .achivement__icon{
    background: var(--color-success);
}
.achivement__card p{
    font-size: 0.9rem;
    padding-top: 0.8rem;
}

/* TEAM */

.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.team__container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.team__member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    /* border-radius: 0.5rem; */
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    
}
.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);
    
}
.member__image img{
    filter: saturate(0);
}
.team__member:hover .member__image img{
    filter: saturate(1);
}
.member__info * {
    text-align: center;
    margin-top: 1.4rem;
}
.member__social {
    position: absolute;
    top: 50%;
    right:-100%;
    display: flex;
    flex-direction: column;
    /* right: 0rem; */
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    transition: var(--transition);

}
.team__member:hover .member__social{
    right: 0;
}
.member__social a {
    padding: 0.5rem;
}

/* Media query for medium device (tablets) */

@media  screen and (max-width:1024px) {
    .achivement__container {
        grid-template-columns: 1fr;
        gap: 4rem;

    }
    .achivement__left{
       width:80%;
       margin: -5rem auto;
        
    }
    .team__container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }
    .team__member{
        padding: 1rem;
    }
}


/* Media queries for small devise (mobile) */


@media screen and (max-width:600px){
.achivements__card{
grid-template-columns: repeat(2,1fr);
padding: 0.7rem;
}
.team__container{
    grid-template-columns:repeat(2,1fr);
    gap: 0.8rem;
}
.team__member{
    padding: 0;
}
.team__member p{
    margin-bottom: 1.2rem;
}
}